# SPDX-FileCopyrightText: 2025 Will Reed <wreed@disroot.org>
#
# SPDX-License-Identifier: LGPL-3.0-or-later
root = true

[*]
insert_final_newline = true

[*.god]
indent_style = space
indent_size = 4

[*.{js,json}]
indent_style = space
indent_size = 4
